{% if books %} {% for item in books %}
<div class="book-card">
  <div class="book-cover">
    <img
      src={{ item.get('volumeInfo', {}).get('imageLinks', {}).get('thumbnail', '') }}
      alt="Cover for {{ item.get('volumeInfo', {}).get('title', '') }}"
      class="book-image"
      onerror="
        this.onerror = null;
        this.src =
          'https://www.google.com/search?q=https://placehold.co/128x192/f3f4f6/a1a1aa%3Ftext%3DNo%2BCover';
      "
    />
  </div>
  <div class="book-info">
    <h2 class="book-title">{{ item.get('volumeInfo', {}).get('title', '') }}</h2>
    <p class="book-author">
      By: {{ item.get('volumeInfo', {}).get('authors', ['Unknown Author'])[0] }}
    </p>
    <div class="card-actions">
      <button
        class="add-to-library-button"
        hx-post="/api/addtolibrary"
        hx-vals='{
    "title": {{ item.get("volumeInfo", {}).get("title", "") | tojson }},
    "author": {{ (item.get("volumeInfo", {}).get("authors", ["Unknown Author"]) | join(", ")) | tojson }},
    "img": {{ item.get("volumeInfo", {}).get("imageLinks", {}).get("thumbnail", "") | tojson }},
    "data": {{ item | tojson }},
    "user": {{ session.get("display_name") | tojson }}
  }'
        hx-on="htmx:response: if (event.detail.success) { window.location.reload(); }"
      >
        Add To Library
      </button>
      <button class="dummy-button">Dummy Button</button>
    </div>
  </div>
</div>
{% endfor %} {% else %}
<!-- Placeholder content when no books are passed initially -->
<p class="placeholder-text">Search results will appear here!</p>
{% endif %}
